<div class="info-container">
    <a class="info-cell delivery">Доставка і оплата</a>
    <a class="info-cell service-centers">Сервісні центри</a>
    <a class="info-cell site">Використання сайту</a>
    <a class="info-cell about-us">Про компанію</a>
    <a class="info-cell credit">Кредит</a>
    <a class="info-cell items-return">Повернення товару</a>
    <a class="info-cell warranty">Гарантія</a>
    <a class="info-cell contacts">Контакти</a>
</div>
<p class="rights-reserved">	&copy; Інтернет-магазин «PhotoAce™» 2001–2019 ТМ використовується на підставі ліцензії правовласника PhotoAceLTD</p>