<div class="social-media-container">
  <h5>Ми в соцмережах:</h5>
  <div class="social-links">
    <a
      href="https://www.facebook.com/EPAM.Ukraine"
      class="social-media facebook"
      ><i class="fab fa-facebook fa-5x"></i
    ></a>
    <a
      href="https://www.youtube.com/user/epamuacareer"
      class="social-media youtube"
      ><i class="fab fa-youtube fa-5x"></i
    ></a>
    <a
      href="https://twitter.com/epamsystems?lang=uk"
      class="social-media twitter"
      ><i class="fab fa-twitter fa-5x"></i
    ></a>
  </div>
</div>
