h5{
    font-weight: 700;
}

.social-links{
    margin: 20px 0;
    display: flex;
    justify-content: space-around;

    .fa-youtube{
        color:#FF0000;
    }
    
    .fa-facebook{
        color: 	#4267B2;
    }
    
    .fa-twitter{
        color: #1DA1F2;
    }

}