.container{
    height: 30vh;
    background-color: rgb(232, 247, 252);
}

.shop-logo{
    font-family: 'Audiowide', cursive;
    font-size: 5rem;
    margin: 0;
}

.shop-description{
    font-size: 1.5rem;
    margin: 0;
}

.phone-selection{
    background-color: rgb(200, 240, 245);
    border-color: rgb(200, 240, 245);
    width: 120px;
    height: 30px;

}