<div class="carousel-container">
  <carousel [isAnimated]="true">
    <slide>
      <img src="assets/images/documentary-style-lenses.jpg" alt="first slide" />
    </slide>
    <slide>
      <img src="assets/images/Leica V-Lux 5.jpg" alt="second slide" />
    </slide>
    <slide>
      <img
        src="assets/images/NIKON D7500 DIGITAL CAMERA .jpg"
        alt="third slide"
      />
    </slide>
    <slide>
      <img src="assets/images/Camera Olympus TG-6 .jpg" alt="third slide" />
    </slide>
    <slide>
      <img
        src="assets/images/Blackmagic Pocket Cinema Camera.jpg"
        alt="third slide"
      />
    </slide>
  </carousel>
</div>
