<div class="about-us-block">
  <h5>Про нас:</h5>
  <p class="about-us-text">
    <span class="shopname">PhotoAce</span> - найбільший онлайн-ритейлер у
    країні. Уже протягом 14 років ми втілюємо маленькі мрії та грандіозні плани
    мільйонів людей. У нас можна знайти буквально все. Ми продаємо за
    справедливою ціною та надаємо гарантію, бо вважаємо, що онлайн-шопінг має
    бути максимально зручним і безпечним. І щоразу, коли хтось натискає
    «Купити», ми розуміємо, що робимо потрібну справу. Ми віримо, що речі
    існують для того, щоб робити життя простішим, приємнішим і добрішим. Тому й
    пошук тієї самої речі повинен бути швидким, зручним і приємним. Ми не просто
    продаємо побутову техніку, електроніку, прикраси або вино. Ми допомагаємо
    знайти саме те, що треба, в одному місці та без зайвих хвилювань, щоб ви не
    витрачали життя на пошуки, а просто жили щасливо.
    <span class="shopname">PhotoAce</span> − це універсальна відповідь на
    будь-який запит, початок пошуку та його кінцева зупинка, справжній помічник.
    Ми назавжди позбавляємо своїх покупців від неприємних компромісів, виконуємо
    бажання і даємо змогу мріяти сміливіше. Завдяки розумному пошуку та чесному
    сервісу ми робимо життя наших клієнтів трішки кращим просто зараз.
  </p>
</div>
