@import "../../../constants.scss";

.search-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

    .search-bar{
        width: 90%;
        outline: none;
        font-size: 20px;

        &:focus{
            background-color: rgb(168, 236, 245);
        }
    }

    .search-btn{
        width: 7%;
        outline: none;

        &:hover{
            cursor: pointer;
        }

        &:active{
            background-color: rgb(168, 236, 245);
        }
    }
}

.search-bar, .search-btn{
    @include input
}